<div class = "span-14 item-row">
    <div class = "span-2">
        <a href = "/user?uid=<%= id %>">
            <img src = "/image/<%= id %>.png" height = 50 width = 60/>
        </a>
    </div>
    <div class = "span-9">
        <h3><a href= '/user?uid=<%= id %>'><%= name %></a> </h2>
        <h6><%= email %></h5>
    </div>
    <div class = "span-2 last add-margin-above-10">
        <% if( id != user ) {
                if(status == 1) { %>
                    <span class = "follow-unfollow-button" onMouseover = "changeButtonText(this)" onmouseout = "restoreOriginal(this)" onclick = "userAction(this, <%= id %>);">Following</span>
            <%  }
                else if(status == 0) { %>
                    <span class = "follow-button" onclick = "userAction(this, <%= id %>);">Follow</span>
            <%  }
        } %>
    </div>
</div>