<li class = "span-6 last">
    <a href = "/user?uid=<%= uid %>" class = "span-7 last">
        <div class = "span-2">
            <img src = "/image/<%= uid %>.png" title = "<%= name %>"/>
        </div>
        <div class = "span-5 last search-text">
            <div><%= name %></div>
            <div><%= email %></div>
        </div>
    </a>
</li>