<div class = "span-13 item-row">
    <div class = "span-2">
        <a href = "/user?uid=<%= uid %>">
            <img src = "/image/<%= uid %>.png" height = 50 width = 60/>
        </a>
    </div>
    <div class = "span-11 last wordwrap">
        <a href= '/user?uid=<%= uid %>'><%= name %></a>
        <div class = "span-11 last add-margin-above-10"><%= tweet %></div>
        <div class = "span-11 subtext add-margin-above-10">
            <div class = "span-4"><%= timestamp %></div>
            <% if(user != '') { %>
                <div class = "span-4 append-3 last favourite-container" onclick = "favouriteAction(this, <%= pid %>);">
                <%  {
                        if(status == 'true') { %>
                            <img src="/static/images/unfavourites.png" style = "vertical-align:bottom"></img>
                            <span class = "favourite-text">unfavourite</span>
                    <%  }
                        else if(status == 'false') { %>
                            <img src="/static/images/favourite.png" style = "vertical-align:bottom"></img>
                            <span class = "favourite-text">favourite</span>
                    <%  }
                } %>
                </div>
            <% } %>
        </div>
    </div>
</div>
