<div class = "span-14 item-row">
    <div class = "span-2">
        <a href = "/user?uid=<%= uid %>">
            <img src = "/image/<%= uid %>.png" height = 50 width = 60/>
        </a>
    </div>
    <div class = "span-12 last wordwrap">
        <a href= '/user?uid=<%= uid %>'><%= name %></a> <br />
        <%= tweet %> <br />
        <font size = "1">Posted on: <%= timestamp %></font>
    </div>
</div>
