<div class = "span-13 item-row">
    <div class = "span-2">
        <a href = "/user?uid=<%= uid %>">
            <img src = "/image/<%= uid %>.png" height = 50 width = 60/>
        </a>
    </div>
    <div class = "span-11 last wordwrap">
        <a href= '/user?uid=<%= uid %>'><%= name %></a> <br />
        <div class = "span-11 last"><%= tweet %></div>
        <div class = "span-5 subtext"><%= timestamp %></div>
        <%  {
                if(status == 'true') { %>
                    <img class="favouriteImage<%=pid%>" src="/static/images/unfavourites.png" width="30" height="30"></img>
                    <span  id="textFavourite<%=pid%>" onclick = "runAction('favouriteImage<%=pid%>',this,<%=pid %>);" width="30" height="30" style="cursor: pointer;">unfavourite</span>
            <%  }
                else if(status == 'false') { %>
                    <img class="unfavouriteImage<%=pid%>" src="/static/images/favourite.png" width="30" height="30"></img>
                    <span  id="textunFavourite<%=pid%>"  onclick = "runAction('unfavouriteImage<%=pid%>',this,<%= pid %>);" style="cursor: pointer;">favourite</span>
            <%  }
        } %>
    </div>
</div>
