<div id = "followerItem_<%= uid %>" class = "span-14 item-row">
    <div class = "span-2">
        <a href = "/user?uid=<%= uid %>">
            <img src = "/static/images/default-profile-picture.gif" height = 50 width = 60/>
        </a>
    </div>
    <div class = "span-9">
        <h3><a href= '/user?uid=<%= uid %>'><%= name %></a> </h2>
        <h6><%= email %></h5>
    </div>
    <div class = "span-2 last follow-button">
        <input type = "button" value = "follow" onclick = "unfollow(<%= uid %>);" />
    </div>
</div>